[submodule "_gallery"]
	path = _gallery
	url = https://github.com/inf2021229/_gallery
[submodule "_quotes"]
	path = _quotes
	url = https://github.com/inf2021229/_quotes
[submodule "images"]
	path = images
	url = https://github.com/inf2021229/images
[submodule "_bibliography"]
	path = _bibliography
	url = https://github.com/inf2021229/bibliography
[submodule "_notes"]
	path = _notes
	url = https://github.com/inf2021229/notes
[submodule "_includes/extras"]
	path = _includes/extras
	url = https://github.com/inf2021229/extras
[submodule "_includes/text"]
	path = _includes/text
	url = https://github.com/inf2021229/text
