
[submodule "_quotes"]
	path = _quotes
	url = https://github.com/ContattoContare/_quotes
[submodule "_bibliography"]
	path = _bibliography
	url = https://github.com/ContattoContare/bibliography
[submodule "_notes"]
	path = _notes
	url = https://github.com/ContattoContare/notes
[submodule "_includes/extras"]
	path = _includes/extras
	url = https://github.com/ContattoContare/extras
[submodule "_includes/text"]
	path = _includes/text
	url = https://github.com/ContattoContare/text
[submodule "images"]
	path = images
	url = https://github.com/ContattoContare/images
[submodule "_gallery"]
	path = _gallery
	url = https://github.com/ContattoContare/_gallery
