# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# `jekyll serve`. If you change this file, please restart the server process.

theme: minimal-mistakes-jekyll
# remote_theme: "mmistakes/minimal-mistakes"

# Site Settings
locale                   : "gr-GR"
title                    : "Κατασκευή Συστημάτων Διάδρασης"
title_separator          : "-"
name                     : "pibook"
description              : "Making Interactivity Greek Book."
url                      : "https://pibook.epidro.me"
baseurl                  : ""
repository               : "pibook/site"
teaser                   : # path of fallback teaser image, e.g. "/assets/images/500x300.png"
# breadcrumbs            : false # true, false (default)
words_per_minute         : 200

reCaptcha:
  siteKey                :
  secret                 :
atom_feed:
  path                   : # blank (default) uses feed.xml
search                   : true
search_full_content      : true
search_provider          : # lunr (default), algolia
algolia:
  application_id         : # YOUR_APPLICATION_ID
  index_name             : # YOUR_INDEX_NAME
  search_only_api_key    : # YOUR_SEARCH_ONLY_API_KEY
  powered_by             : # true (default), false

# SEO Related
google_site_verification :
bing_site_verification   :
yandex_site_verification :
naver_site_verification  :

# Social Sharing
twitter:
  username               :
facebook:
  username               :
  app_id                 :
  publisher              :
og_image                 : # Open Graph/Twitter default site image
# For specifying social profiles
# - https://developers.google.com/structured-data/customize/social-profiles
social:
  type                   : # Person or Organization (defaults to Person)
  name                   : # If the user or organization name differs from the site's name
  links: # An array of links to social media profiles


# Site Author
author:
  name             : "Konstantinos Chorianopoulos"
  avatar           : # path of avatar image, e.g. "/assets/images/bio-photo.jpg"
  bio              :
  location         :
  email            :
  uri              :
  home             : "https://www.epidro.me"
  bitbucket        :
  codepen          :
  dribbble         :
  flickr           :
  facebook         :
  foursquare       :
  github           : "epidrome"
  gitlab           :
  google_plus      :
  keybase          :
  instagram        :
  lastfm           :
  linkedin         : # "john-doe-12345678" (the last part of your profile url, e.g. https://www.linkedin.com/in/john-doe-12345678)
  pinterest        :
  soundcloud       :
  stackoverflow    : # "123456/username" (the last part of your profile url, e.g. https://stackoverflow.com/users/123456/username)
  steam            : # "steamId" (the last part of your profile url, e.g. https://steamcommunity.com/id/steamId/)
  tumblr           :
  twitter          :
  vine             :
  weibo            :
  xing             :
  youtube          : "https://www.youtube.com/channel/UCXRT71xdiJVlbgMpeMvUZ3g"


# Reading Files
include:
  - .htaccess
  - _pages
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - Rakefile
  - README
  - tmp
  - /docs # ignore Minimal Mistakes /docs
  - /test # ignore Minimal Mistakes /test
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"


# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false


# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false


# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # http://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style


# Outputting
#permalink: /:categories/:title/
#paginate: 5 # amount of posts to show
#paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones


# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache
  - jekyll-tagories
  - jekyll-remote-theme
  - jekyll-scholar


# Archives
#  Type
#  - GitHub Pages compatible archive pages built with Liquid ~> type: liquid (default)
#  - Jekyll Archives plugin archive pages ~> type: jekyll-archives
#  Path (examples)
#  - Archive page should exist at path when using Liquid method or you can
#    expect broken links (especially with breadcrumbs enabled)
#  - <base_path>/tags/my-awesome-tag/index.html ~> path: /tags/
#  - <base_path/categories/my-awesome-category/index.html ~> path: /categories/
#  - <base_path/my-awesome-category/index.html ~> path: /
category_archive:
  type: liquid 
  path: /categories/
tag_archive:
  type: liquid 
  path: /tags/

# HTML Compression
# - http://jch.penibelst.de/
compress_html:
  clippings: all
  ignore:
    envs: development

# Collections
#collections_dir: collections

collections:
  chapter:
    output: true
    permalink: /chapter/:path/
  timeline:
    output: true
    permalink: /timeline/:path/
  slides:
    output: true
    permalink: /slides/:path/
  making:
    output: true
    permalink: /making/:path/
  endorsements:
    output: true
    permalink: /endorsements/:path/
  quotes:
    output: true
    permalink: /quotes/:path/
  remix:
    output: true
    permalink: /remix/:path/
  notes:
    output: true
    permalink: /notes/:path/
  bibliography:
    output: true
    permalink: /bibliography/:path/
  biography:
    output: true
    permalink: /biography/:path/
  case-study:
    output: true
    permalink: /case-study/:path/
  gallery:
    output: true
    permalink: /gallery/:path/
  header:
    output: false

# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: # true
      share: true
      related: true
  - scope:
      path: ""
      type: chapter 
    values:
      layout: single 
      header: no
  - scope:
      path: ""
      type: timeline 
    values:
      layout: timeline 
      header: no
      show_meta: false
  - scope:
      path: ""
      type: slides
    values:
      layout: slides
      header: no
      show_meta: false
  - scope:
      path: ""
      type: gallery 
    values:
      layout: image 
      header: no
      show_meta: false
  - scope:
      path: ""
      type: notes
    values:
      layout: single
      header: no
      show_meta: false
  - scope:
      path: ""
      type: quotes
    values:
      layout: quotes
      header: no
      show_meta: false
  - scope:
      path: ""
      type: case-study
    values:
      layout: single
      header: no
      show_meta: false
  - scope:
      path: ""
      type: biography
    values:
      layout: single
      header: no
      show_meta: false
  - scope:
      path: ""
      type: tag
    values:
      comments: false 
  - scope:
      path: ""
      type: category
    values:
      comments: false

scholar:
  style: modern-language-association
