{% comment %}
*   This include lets you easily embed a gallery into your page.
*
*
{% endcomment %}

{% capture param %}{{ include.param }}{% endcapture %}
{% assign mycollection = site.collections | where:'label',param | first %}

<div>
	<ul class="small-block-grid-4">
		{% for item in mycollection.docs %}
			<li>
				{% if item.image_url %}
					{% capture url %}{{ item.image_url }}{% endcapture %}
					{% assign split_url = url | split: '.' %}
					{% capture thumb_url %}{{split_url[0]}}-thumb.{{split_url[1]}}{% endcapture %}
					<a href="{{ item.url }}"><img src="{{ site.urlimg }}{{ thumb_url }}" alt=""></a>
					<br>
				{% endif %}
				{% if mycollection.label == 'quotes' %}
					<a href="{{ item.url }}">{{ item.title }}</a>
					<blockquote> {{ item.caption }} </blockquote>
				{% else %}
					<small> {{ item.caption }} </small>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
</div>
