{% comment %}
*   This include lets you easily embed a gallery into your page.
*   To use the gallery include you...
*
*   1. ...need two images: a thumbnail and a big image.
*   2. Name the thumbnail gallery-image-thumb.jpg and...
*   3. ...name the big gallery-image.jpg
*   4. Define the big version in frontmatter,
*
*   gallery:
*       - image_url: gallery-image.jpg
*
*   5. Give your image a caption – works without captions, too.
*
*   gallery:
*       - image_url: gallery-image.jpg
*          caption: Starting Page with huge One Logo
*
*
{% endcomment %}

{% capture collection %}{{ include.param }}{% endcapture %}
{% include.param %}
{% collection %}

<div>
	<ul class="small-block-grid-4">
		{% for image in site.gallery %}
		{% capture url %}{{ image.image_url }}{% endcapture %}
		{% assign split_url = url | split: '.' %}
		{% capture thumb_url %}{{split_url[0]}}-thumb.{{split_url[1]}}{% endcapture %}
		<li><a href="{{ site.urlimg }}{{ image.image_url }}"><img {% if image.caption %}data-caption="{{ image.caption }}"{% endif %} src="{{ site.urlimg }}{{ thumb_url }}" alt=""></a>
		<br>
		<small> <a href="{{ image.url }}">{{ image.caption }}</a> </small></li>
		{% endfor %}
	</ul>
</div>
