{% comment %}
*
*   Possible parameter for this loop:
*     collection
*     entries
*     offset
*
{% endcomment %}

{% assign mycollection = site.collections | where:'label',include.collection | first %}
{% assign sorted = mycollection | sort: 'date' | reverse %}

{{ mycollection.label }}

<ul class="side-nav">

  {% for item in sorted limit:include.entries %}
    <li><a href="{{ site.url }}{{ item.url }}"><strong>{{ item.title }}</strong></a></li>
  {% endfor %}

  <li class="text-right"><a href="{{ site.url }}{{ mycollection.directory }}"><strong>{{ site.data.language.more }}</strong></a></li>

</ul>
