{% comment %}
*
*   Possible parameter for this loop:
*     collection
*     entries
*     offset
*
{% endcomment %}

{% assign mycollection = site.collections | where:'label',include.collection | first %}
{% assign sorted = mycollection.docs | sort: 'date' %}

{{ include.collection }}

<ul class="side-nav">

  {% unless mycollection == empty %}
    {% for item in sorted limit:include.entries %}
      <li><a href="{{ site.url }}{{ item.url }}"><strong>{{ item.title }}</strong></a></li>
    {% endfor %}
  {% endunless %}

  <li class="text-right"><a href="{{ site.url }}{{ mycollection.url }}"><strong>{{ mycollection.label }}</strong></a></li>

</ul>
