{% comment %}
*
*   Possible parameter for this loop:
*     collection
*     entries
*     offset
*
{% endcomment %}

{% assign mycollection = site.collections | where:'label',include.collection | first %}
{% assign sorted = (mycollection.docs | sort: 'date') | reverse %}

{{ include.collection }}

<ul class="side-nav">


  {% for item in sorted limit:include.entries %}
    <li><a href="{{ site.url }}{{ item.url }}"><strong>{{ item.title }}</strong></a>{{ item.date }}</li>
  {% endfor %}

  <li class="text-right"><a href="{{ site.url }}{{ sorted.url }}"><strong>{{ mycollection.label }}</strong></a></li>

</ul>
