---
layout: default
---


{% comment %}
*
* First check, if widget is empty or not by checking if there is a title
*
{% endcomment %}
<div class="row t60">
    {% if page.widget-1.title %}
    <div class="medium-4 columns">
        <a href="{{ page.widget-1.url }}">{% if page.widget-1.image %}<img src="{{ site.urlimg }}/{{ page.widget-1.image }}" width="302" height="182" alt="">{% endif %}{% if page.widget-1.video %}{{ page.widget-1.video }}{% endif %}
        <h2 class="font-size-h3 t10">{{ page.widget-1.title }}</h2></a>
        {% comment %}
        *
        * Show an inspirational quote, chosen randomly from the quotes collection. it is refreshed only when the site rebuilds, for a more dynamic refresh do a client-side javascript implementation.
        *
        {% endcomment %}

        {% assign random = site.time | date: "%s%N" | modulo: site.quotes.size %}

        <blockquote>{{ site.quotes[random].text }} {{ site.quotes[random].person }}</blockquote>

        <p>{{ page.widget-1.text }}</p>
    </div><!-- /.medium-4.columns -->
    {% endif %}


    {% if page.widget-2.title %}
    <div class="medium-4 columns">
        <a href="{{ page.widget-2.url }}">{% if page.widget-2.image %}<img src="{{ site.urlimg }}/{{ page.widget-2.image }}" width="302" height="182" alt="">{% endif %}{% if page.widget-2.video %}{{ page.widget-2.video }}{% endif %}
        <h2 class="font-size-h3 t10">{{ page.widget-2.title }}</h2></a>

        {% comment %}
        *
        * Show an inspirational image, chosen randomly from the gallery collection. it is refreshed only when the site rebuilds, for a more dynamic refresh do a client-side javascript implementation.
        *
        {% endcomment %}

        {% assign random = site.time | date: "%s%N" | modulo: site.gallery.size %}

        {% capture url %}{{ site.gallery[random].image_url }}{% endcapture %}
        {% assign split_url = url | split: '.' %}
        {% capture thumb_url %}{{split_url[0]}}-thumb.{{split_url[1]}}{% endcapture %}

        <img src="{{ site.urlimg }}{{ thumb_url }}">

        <br><small> {{ site.gallery[random].caption }} </small>

        <p>{{ page.widget-2.text }}</p>
    </div><!-- /.medium-4.columns -->
    {% endif %}


    {% if page.widget-3.title %}
    <div class="medium-4 columns">
        <a href="{{ page.widget-3.url }}">{% if page.widget-3.image %}<img src="{{ site.urlimg }}/{{ page.widget-3.image }}" width="302" height="182" alt="">{% endif %}{% if page.widget-3.video %}{{ page.widget-3.video }}{% endif %}
        <h2 class="font-size-h3 t10">{{ page.widget-3.title }}</h2></a>
        <p>{{ page.widget-3.text }}</p>
    </div><!-- /.medium-4.columns -->
    {% endif %}
</div><!-- /.row -->

{% comment %}
*
* Finally, if there is content, spit it out.
*
{% endcomment %}

<div class="row">
    {{ content }}
</div><!-- /.row -->
